.sidenav{
  height: 100%;
  width: 68px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1A0931;
  overflow-x: hidden;
}

.sidenav .logo{
  padding: 20px;
}

.container{
  margin-left: 118px;
}

.header{
  padding-top: 20px;
}

p {
  margin: 0;
}

.main{
  padding-top: 24px;
  display: flex;
  gap: 16px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
}

.test{ 
  display: flex;
}

.button-task{
  display: flex;
  padding: 8px;
  align-items: center;
  width: fit-content;
}

.padding-wrap{
  padding: 8px;
}

/* card */
.card{
  border: 1px solid #F2F2F4;
  width: 333px;
  padding: 4px;
  border-radius: 4px;
  height: fit-content;
}

.sec-card{
  border: 1px solid #F2F2F4;
  width: 282px;
  padding: 16px;
  border-radius: 4px;
}

/* icon */
.logo{
  width: 28px;
  height: 28px;
}

.icon-weight{
  width: 16px;
  height: 16px;
}

.icon-more{
  width: 24px;
  height: 24px;
}

.icon-plus{
  width: 16px;
  height: 16px;
}

/* font */
.header-font{
  font-size: 20px;
  line-height: 24px;
  color: #2F3136;
  font-weight: 500;
}

.font-title{
  font-size: 12px;
  line-height: 20px;
  color: #5D6372;
}

.font-title2{
  font-size: 14px;
  line-height: 20px;
  color: #5D6372;
  font-weight: 500;
}

.font-2{
  font-size: 14px;
  line-height: 20px;
  color: #2F3136;
  font-weight: 500;
}

.font-2-pl{
  font-size: 14px;
  line-height: 20px;
  padding-left: 8px;
}

.font-3{
  font-size: 14px;
  line-height: 24px;
  color: #B7BDC9;
  font-weight: 400;
}

.font-num{
  font-size: 12px;
  line-height: 16px;
  padding-left: 8px;
  color: #5D6372;
  font-weight: 400;
}


/* padding */
.pt-24{padding-top: 24px;}
.pt-16{padding-top: 16px;}
.pt-12{padding-top: 12px;}